section.module.content {
  background-color: rgba(207,216,220,0.5);
}
section.module.parallax {
  background-position: 0 0;
  background-position: 50% 0;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 26px;
  width: 475px;
  position: fixed;
  top: 20px;
  left: 40px;
}
section.module.parallax h2 {
  font-size: 22px;
  position: fixed;
  top: 50px;
  left: 160px;
}
section.module.parallax h1, h2 {
  color: black;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 20px white;
}
section.module.parallax p {
  color: black;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 10px white;
  width: 250px;
  height: 20px;
}
section.module.parallax-1 {
  height: 450px;
  width: 550px;
  background: linear-gradient(tan 15%, transparent 20%, transparent 95%, tan 100%), image-url("Image5.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.avatar-large1 {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 5px solid black;
  position: fixed;
  top: 280px;
  left: 365px;
}

.avatar-large2 {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  border: 5px solid black;
  position: fixed;
  top: 370px;
  left: 240px;
}
.avatar-large3 {
  height: 135px;
  width: 135px;
  border-radius: 50%;
  border: 5px solid black;
  position: fixed;
  top: 400px;
  left: 390px;
}

.name {
  position: fixed;
  top: 460px;
  left: 5px;
}

.phone1 {
  position: fixed;
  top: 480px;
  left: 5px;
}

.phone2 {
  position: fixed;
  top: 500px;
  left: 5px;
}

.email {
  position: fixed;
  top: 520px;
  left: 5px;
}

section.tan {
  height: 100px;
  width: 550px;
  background-color: tan;
}
