<div class="jumbotron-fluid">
  <section class="module parallax parallax-1" data-type="background" data-speed="10">
    <div class="parallax-container">
      <h1>Buffet Denize Carvalho</h1>
      <h2>We do great events</h2>
      <p class="name">Denize Carvalho</p>
      <p class="phone1"><i class="fas fa-phone"></i> <i class="fab fa-whatsapp"></i> (71) 98775-5592</p>
      <p class="phone2"><i class="fas fa-phone"></i> (71) 3248-5592</p>
      <p class="email"><i class="far fa-envelope"></i> denizepcs@yahoo.com.br</p>
      <%= image_tag "Image4.jpg", class: "avatar-large1", alt: "avatar-large" %>
      <%= image_tag "Image2.jpg", class: "avatar-large2", alt: "avatar-large" %>
      <%= image_tag "Image1.jpg", class: "avatar-large3", alt: "avatar-large" %>
    </div>
  </section>
  <section class="tan">
  </section>
</div>
