<div class="jumbotron-fluid">
  <section class="module parallax parallax-1" data-type="background" data-speed="10">
    <div class="parallax-container">
      <h1>Buffet Denize Carvalho</h1>
      <p>We do great events</p>
    </div>
  </section>
</div>
